:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }

  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "image"
      "description"
      "order";
    grid-gap: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }

  .image {
    background: whitesmoke;
    grid-area: image;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  .description {
    background: whitesmoke;
    grid-area: description;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  .order {
    background: whitesmoke;
    grid-area: order;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  select {
    font-family: Cursive;
  }

  .Ordr_bt {
    width: 200px;
    height: 60px;
    background: rgb(227, 227, 10);
    border-radius: 20px / 20px;
  }

  .buy_now {
    width: 200px;
    height: 60px;
    background: rgb(227, 144, 9);
    border-radius: 20px / 20px;
  }

  .grid-box img {
    width: 60%;
  } 
  /*
 - using shorthand to create 3 columns. Easier to change this now.
*/

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

